body{
    background-color: #EAEAEA;
    padding: 10px;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
h5{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #2DAA9E;
    border: 2px solid black;
    border-radius: 10px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: #2DAA9E;
    border: 2px solid black;
    border-radius: 10px;
}
.cinzel-1{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: xx-large;
}
.cinzel-2{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: larger;
}
.exo-2-1{
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: larger;
}
